
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~admin-lte/dist/css/adminlte.css';
@import "node_modules/font-awesome/scss/font-awesome.scss";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.router-link-active {
  background-color: #007bff;
  color: #fff !important;
}

.router-link-active:hover {
  background-color: #007bff !important;
  color: #fff !important;
}

body.modal-open {
  padding-right: 0 !important;
}